.dash-container {
  height: 600px;
}
.search {
  border: none;
  padding: 0;
}
.search-term {
  background-color: #fff !important;
  width: 420px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #555;
  padding: 9px 4px 9px 40px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}
.search-button {
  width: 135px;
  background: #06aaf3;
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  border: 0;
  cursor: pointer;
}
.search-button:hover {
  border: 1px solid;
}
.text-container {
  width: 100%;
  display: flex;
  height: 560px;
}
.text-wrap {
  color: #fff;
  margin: 25px;
  padding: 25px;
}
.text1 {
  font-size: 45px;
  margin: 20px 0px;
  padding: 20px 0px;
}
.text2 {
  margin: 20px 0px;
  font-size: 18px;
  padding: 20px 0px;
  width: 460px;
}
.choose {
  margin: 20px 0;
  font-size: 16px;
}
.button-group {
  display: flex;
  align-items: center;
}
.category-btn {
  position: relative;
  height: 30px;
  background: transparent;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
}
.category-btn:hover {
  border: 1px solid #555;
  color: rgb(0, 0, 0);
}
.more-list {
  cursor: pointer;
}
